<launch>
<!-- Please note that this is only an example!
     It is not guaranteed to work with your setup but can be used as a starting point. -->
  <arg name="cmd_vel" default="input_joy/cmd_vel" />
  <arg name="teleop_config" default="$(find joy_teleop)/config/joy_teleop_example.yaml" />

  <rosparam file="$(arg teleop_config)" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
    <remap from="cmd_vel" to="$(arg cmd_vel)" />
  </node>

  <group ns="torso_controller">
    <node pkg="joy_teleop" type="incrementer_server.py" name="incrementer"/>
  </group>

</launch>
