<launch>
  <arg name="mouse_vel" default="mouse_vel"/>
  <arg name="holonomic" default="false"/>

  <arg name="plot" default="false"/>

  <node pkg="mouse_teleop" type="mouse_teleop.py" name="mouse_teleop">
    <rosparam file="$(find mouse_teleop)/config/mouse_teleop.yaml" command="load"/>
    <param name="holonomic" value="$(arg holonomic)"/>

    <remap from="mouse_vel" to="$(arg mouse_vel)"/>
  </node>

  <group if="$(arg plot)">
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot"
          args="$(arg mouse_vel)/linear/x $(arg mouse_vel)/linear/y $(arg mouse_vel)/angular/z"/>
  </group>
</launch>
